<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>io.naisdevice.helper</string>
        <key>Nice</key>
        <integer>0</integer>
        <key>Program</key>
        <string>/opt/naisdevice/bin/device-agent-helper</string>
        <key>ProgramArguments</key>
        <array>
                <string>/opt/naisdevice/bin/device-agent-helper</string>
                <string>--interface</string>
                <string>utun69</string>
                <string>--bootstrap-config</string>
                <string>CONFIG_DIR/bootstrapconfig.json</string>
                <string>--pid-file</string>
                <string>CONFIG_DIR/pid</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/Library/Logs/device-agent-helper-err.log</string>
        <key>StandardOutPath</key>
        <string>/Library/Logs/device-agent-helper-out.log</string>
</dict>
</plist>
