GATEWAY_AGENT_APISERVERURL="10.255.240.1:8099"
GATEWAY_AGENT_APISERVERPUBLICKEY="FUwVtyvs8nIRx9RpUUEopkfV8idmHz9g9K/vf9MFOXI="
GATEWAY_AGENT_APISERVERENDPOINT="35.228.142.96:51820"
GATEWAY_AGENT_APISERVERPIVATEIP="10.255.240.1"
GATEWAY_AGENT_ENABLEROUTING="true"
GATEWAY_AGENT_LOGLEVEL="info"
GATEWAY_AGENT_PROMETHEUSADDR="0.0.0.0:3000"
GATEWAY_AGENT_PROMETHEUSPUBLICKEY="MN9B/ZgAQdgCXH3/KUaUiObwrzHv6zF2P6M4ySTx81M="
GATEWAY_AGENT_PROMETHEUSTUNNELIP="10.255.247.254"