# vi:syntax=systemd

[Unit]
After=syslog.target network.target gateway-agent.service
Description=naisdevice gateway connections logging service.

[Service]
Restart=always
StandardOutput=append:/var/log/naisdevice/gateway-forwarded-connections.json
StandardError=append:/var/log/naisdevice/gateway-forwarded-connections.err
ExecStart=dmesg \
	--follow \
	--time-format iso \
	| /opt/nais-device/bin/dmesg-to-json

[Install]
WantedBy=multi-user.target
