.idea/
bin
.env
.DS_Store
*.pkg
*.app
*.icns
wireguard-go-*
wireguard-tools-*
cmd/device-agent/main_windows.syso
cmd/helper/main_windows.syso
packaging/windows/obj
packaging/linux/icons
device-agent.log
*.deb
.vscode