.idea/
bin
.env
.DS_Store
*.pkg
*.app
*.icns
wireguard-go-*
wireguard-tools-*
cmd/device-agent/main_windows.syso
cmd/helper/main_windows.syso
packaging/windows/obj
packaging/windows/.vagrant/
packaging/windows/naisdevice*.exe
packaging/*/assets/
packaging/*/icons
device-agent.log
*.deb
.vscode
.protoc
packaging/windows/naisdevice.crt
packaging/windows/naisdevice.key
.envrc
*.db
operational/scripts/data/
