/var/log/naisdevice/*.log /var/log/naisdevice/*.json {
        daily
        missingok
        rotate 7
        compress
        notifempty
        create 640 root google-sudoers

        postrotate
                systemctl start prometheus-agent
        endscript

        prerotate
                systemctl stop prometheus-agent
        endscript
}
