# vi:syntax=systemd
[Unit]
Description=Prometheus agent

[Service]
Restart=always
StandardOutput=append:/var/log/naisdevice/prometheus-agent.json
StandardError=append:/var/log/naisdevice/prometheus-agent.json
ExecStart=/bin/bash -c '/opt/nais-device/bin/prometheus-agent \
        --tunnel-ip="{{ tunnel_ip }}" \
        --api-server-public-key="FUwVtyvs8nIRx9RpUUEopkfV8idmHz9g9K/vf9MFOXI=" \
        --api-server-wireguard-endpoint="35.228.142.96:51820" \
        --apiserver-username="prometheus" \
        --apiserver-password="$(gcloud secrets versions access latest --secret nais-device_prometheus_api-server-password)"'

[Install]
WantedBy=multi-user.target