<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Product
            Id="*"
            Name="naisdevice"
            Language="1033"
            Version="0.1.$(var.BUILD_NUMBER)"
            Manufacturer="NAV"
            UpgradeCode="BD57048E-2432-49D5-96C2-5C4D0C3482C6"
    >
        <!-- The UpgradeCode identifies this product. It should be the same vvalue for all version of this product. -->
        <Package
                Description="naisdevice"
                Manufacturer="NAV / Platformteamet"
                InstallerVersion="500"
                Compressed="yes"
                InstallScope="perMachine"
                Platform="x64"
        />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <MediaTemplate EmbedCab="yes"/>

        <Icon Id="NaisLogoBlue.ico" SourceFile="../../assets/nais-logo-blue.ico"/>

        <!-- Properties used to provide information for the Add or Remove Programs in Control Panel -->
        <Property Id="ARPPRODUCTICON" Value="NaisLogoBlue.ico"/>
        <Property Id="ARPHELPLINK" Value="https://doc.nais.io/device"/>
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/nais/device/releases/latest"/>
        <Property Id="ARPURLINFOABOUT" Value="slack://channel?team=T5LNAMWNA&amp;id=D011T20LDHD"/>

        <!-- Localized "Users" account -->
        <PropertyRef Id="WIX_ACCOUNT_USERS"/>

        <!--
        Need to remember the application data folder so that it can be emptied and removed on uninstall and upgrade
        -->
        <Property Id='APP_DATA_FOLDER'>
            <RegistrySearch Id='RememberProperty' Root='HKLM'
                            Key='SOFTWARE\NAV\naisdevice'
                            Name='ApplicationDataFolder' Type='raw'/>
        </Property>

        <Feature Id="ProductFeature" Title="NaisDevice" Level="1">
            <ComponentRef Id="NaisDeviceAgentComponent"/>
            <ComponentRef Id="NaisDeviceSystrayComponent"/>
            <ComponentRef Id="NaisDeviceHelperComponent"/>
            <!--<ComponentRef Id="ApplicationShortcutComponent"/>-->

            <!--
            Create application data folder on install and remove it on uninstall. Location is stored in the registry so that i can be
            used later on uninstall.
            -->
            <Component Directory='APP_DATA_FOLDER'>
                <RegistryValue Root='HKLM' Key='SOFTWARE\NAV\naisdevice'
                               Name='ApplicationDataFolder' Value='[APP_DATA_FOLDER]'
                               Type='string'/>

                <CreateFolder>
                    <util:PermissionEx User="[WIX_ACCOUNT_USERS]" GenericAll="yes"/>
                </CreateFolder>

                <util:RemoveFolderEx On='uninstall' Property="APP_DATA_FOLDER"/>
            </Component>

            <Component Id="LogFolder" Directory='LOG_FOLDER'>
                <RegistryValue Root='HKLM' Key='SOFTWARE\NAV\naisdevice'
                               Name='LogsFolder' Value='[APP_DATA_FOLDER]\logs'
                               Type='string'/>

                <CreateFolder>
                    <util:PermissionEx User="[WIX_ACCOUNT_USERS]" GenericAll="yes"/>
                </CreateFolder>
            </Component>
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ProgramFilesCompany" Name="NAV">
                    <Directory Id="INSTALLFOLDER" Name="naisdevice"/>
                </Directory>
            </Directory>

            <!-- App folder for configuration files and logs files -->
            <Directory Id="CommonAppDataFolder">
                <Directory Id="AppDataCompany" Name="NAV">
                    <Directory Id="APP_DATA_FOLDER" Name="naisdevice">
                        <Directory Id='LOG_FOLDER' Name="logs"/>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder"/>

            <Directory Id="StartupFolder"/>
        </Directory>

        <Component Id="NaisDeviceSystrayComponent" Win64="yes" Directory="INSTALLFOLDER">
            <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall"/>

            <File Id="naisdevice-systray.exe" Source="../../bin/windows/naisdevice-systray.exe" KeyPath="yes">
                <!-- Install shortcut in the start menu -->
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="naisdevice"
                          Description="naisdevice is a mechanism enabling NAVs developers to connect to internal resources in a secure and friendly manner."
                          WorkingDirectory="APP_DATA_FOLDER"
                          Directory="ProgramMenuFolder"
                          Advertise="yes"
                          Icon="NaisLogoBlue.ico"
                />

                <!-- Install shortcut in the startup folder -->
                <Shortcut Id="ApplicationStartupShortcut"
                          Name="naisdevice"
                          Description="naisdevice is a mechanism enabling NAVs developers to connect to internal resources in a secure and friendly manner."
                          WorkingDirectory="APP_DATA_FOLDER"
                          Directory="StartupFolder"
                          Advertise="yes"
                          Icon="NaisLogoBlue.ico"
                />
            </File>
        </Component>

        <Component Id="NaisDeviceAgentComponent" Win64="yes" Directory="INSTALLFOLDER">
            <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall"/>

            <File Id="naisdevice-agent.exe" Source="../../bin/windows/naisdevice-agent.exe" KeyPath="yes" />
        </Component>

        <Component Id="NaisDeviceHelperComponent" Win64="yes" Directory="INSTALLFOLDER">
            <File Id='naisdevice-helper.exe' Source='../../bin/windows/naisdevice-helper.exe' KeyPath="yes"/>

            <ServiceInstall
                    Id="ServiceInstaller"
                    Type="ownProcess"
                    Name="NaisDeviceHelper"
                    DisplayName="naisdevice helper"
                    Description="Controls the Wireguard VPN connection"
                    Start="auto"
                    Account="NT AUTHORITY\SYSTEM"
                    ErrorControl="normal"
                    Arguments="--interface utun69 --config-dir &quot;[APP_DATA_FOLDER]\&quot;"
            />
            <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="NaisDeviceHelper" Wait="yes"/>
        </Component>
    </Product>
</Wix>
