# vi:syntax=systemd
[Unit]
Description=naisdevice gateway agent

[Service]
Restart=always
EnvironmentFile=/etc/default/gateway-agent
ExecStart=/usr/bin/gateway-agent --enable-routing --auto-enroll --prometheus-address=:3000

[Install]
WantedBy=multi-user.target
