# vi:syntax=systemd
[Unit]
Description=naisdevice gateway agent

[Service]
Restart=always
RestartSteps=4
RestartMaxDelaySec=30s
EnvironmentFile=/etc/default/gateway-agent
ExecStart=/usr/bin/gateway-agent

[Install]
WantedBy=multi-user.target
