# vi:syntax=systemd
[Unit]
Description=naisdevice prometheus agent

[Service]
Restart=always
EnvironmentFile=/etc/default/prometheus-agent
ExecStart=/usr/bin/prometheus-agent

[Install]
WantedBy=multi-user.target
