- name: Ensure wireguard package installed
  apt:
    name: wireguard
    state: present

- name: Create binary directory
  file:
    path: /opt/nais-device/bin
    state: directory
    mode: '0755'

- name: Download apiserver
  get_url:
    dest: /opt/nais-device/bin/apiserver
    force: yes
    url: https://github.com/nais/device/releases/download/2020-11-09-2cc0199/apiserver
    backup: yes
    mode: 0755
  notify:
    - restart_apiserver

- name: Install apiserver systemd unit file
  template:
    src: apiserver.service.j2
    dest: /etc/systemd/system/apiserver.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - restart_apiserver

- name: Ensure apiserver is enabled
  systemd:
    name: apiserver
    enabled: yes
    daemon_reload: yes

- name: Ensure apiserver is started
  systemd:
    name: apiserver
    state: started

- name: Download naisdevice-health-checker.phar
  get_url:
    dest: /opt/nais-device/bin/naisdevice-health-checker.phar
    force: yes
    url: https://github.com/nais/naisdevice-health-checker/releases/download/2020-11-09-33e2140/naisdevice-health-checker.phar
    backup: yes
    mode: 0755

- name: Install naisdevice-health-checker systemd unit file
  copy:
    src: naisdevice-health-checker.service
    dest: /etc/systemd/system/naisdevice-health-checker.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - systemd_reload

- name: Install naisdevice-health-checker systemd timer file
  copy:
    src: naisdevice-health-checker.timer
    dest: /etc/systemd/system/naisdevice-health-checker.timer
    state: file
    owner: root
    group: root
    mode: '0644'
  notify:
    - systemd_reload

- name: ensure naisdevice-health-checker.timer is enabled
  systemd:
    name: naisdevice-health-checker.timer
    enabled: yes
    state: started
    daemon_reload: yes

- name: ensure naisdevice-health-checker.service is disabled
  systemd:
    name: naisdevice-health-checker.service
    enabled: no
    state: stopped
    daemon_reload: yes
