# vi:syntax=systemd
[Unit]
Description=apiserver

[Service]
Restart=always
StandardOutput=append:/var/log/naisdevice/apiserver.json
StandardError=append:/var/log/naisdevice/apiserver.json
ExecStart=/bin/bash -c '/opt/nais-device/bin/apiserver \
        --bind-address="10.255.240.1:80" \
        --grpc-bind-address="10.255.240.1:8099" \
        --device-authentication-enabled=true \
        --control-plane-authentication-enabled=true \
        --cloud-sql-proxy-enabled=true \
        --wireguard-enabled=true \
        --db-connection-dsn="$(gcloud secrets versions access latest --secret apiserver-db-dsn)" \
        --jita-username="naisdevice-jita" \
        --jita-password="$(gcloud secrets versions access latest --secret naisdevice-jita-password)" \
        --jita-url="https://naisdevice-jita.nais.io" \
        --azure-client-id="6e45010d-2637-4a40-b91d-d4cbb451fb57" \
        --azure-client-secret="$(gcloud secrets versions access latest --secret azure-client-secret)" \
        --bootstrap-api-url="https://bootstrap.device.nais.io" \
        --bootstrap-api-credentials="apiserver:$(gcloud secrets versions access latest --secret nais-device_api-server_bootstrap-api-password)" \
        --endpoint="35.228.142.96:51820" \
        --prometheus-address=10.255.240.1:3000 \
        --prometheus-public-key="MN9B/ZgAQdgCXH3/KUaUiObwrzHv6zF2P6M4ySTx81M=" \
        --prometheus-tunnel-ip="10.255.247.254" \
        --credential-entries="$(/opt/nais-device/bin/passwords.sh)" \
        --kolide-api-token="$(gcloud secrets versions access latest --project nais-device --secret kolide-api-token)" \
        --kolide-sync-enabled=true \
        --kolide-event-handler-enabled=true \
        --kolide-event-handler-address="kolide-event-handler.prod-gcp.nais.io:443" \
        --kolide-event-handler-token="$(gcloud secrets versions access latest --project nais-device --secret kolide-event-handler-grpc-auth-token)" \
        '

[Install]
WantedBy=multi-user.target
