#!/bin/sh

APISERVER_AZURECLIENTSECRET="{{ azureclientsecret }}"
APISERVER_BOOTSTRAPAPICREDENTIALS="{{ bootstrapapicredentials }}"
APISERVER_DBCONNECTIONDSN="{{ dbconnectiondsn }}"
APISERVER_JITAPASSWORD="{{ jitapassword }}"
APISERVER_KOLIDEAPITOKEN="{{ kolideapitoken }}"
APISERVER_KOLIDEEVENTHANDLERTOKEN="{{ kolideeventhandlertoken }}"

APISERVER_BINDADDRESS="10.255.240.1:80"
APISERVER_BOOTSTRAPAPIURL="https://bootstrap.device.nais.io"
APISERVER_CLOUDSQLPROXYENABLED=true
APISERVER_CONTROLPLANEAUTHENTICATIONENABLED=true
APISERVER_DEVICEAUTHENTICATIONENABLED=true
APISERVER_ENDPOINT="35.228.142.96:51820"
APISERVER_GRPCBINDADDRESS="10.255.240.1:8099"
APISERVER_JITAURL="https://naisdevicejita.nais.io"
APISERVER_JITAUSERNAME="naisdevicejita"
APISERVER_KOLIDEEVENTHANDLERADDRESS="kolideeventhandler.prodgcp.nais.io:443"
APISERVER_KOLIDEEVENTHANDLERENABLED=true
APISERVER_KOLIDESYNCENABLED=true
APISERVER_PROMETHEUSADDRESS=10.255.240.1:3000
APISERVER_PROMETHEUSPUBLICKEY="MN9B/ZgAQdgCXH3/KUaUiObwrzHv6zF2P6M4ySTx81M="
APISERVER_PROMETHEUSTUNNELIP="10.255.247.254"
APISERVER_WIREGUARDENABLED=true
