# vi:syntax=systemd
[Unit]
Description=naisdevice apiserver

[Service]
Restart=always
RestartSteps=4
RestartMaxDelaySec=30s
EnvironmentFile=/etc/default/apiserver
ExecStart=/usr/bin/apiserver

[Install]
WantedBy=multi-user.target
