{% extends "site.html" %}
{% block content %}
<div class="index">
    <div class="row mb-3 align-items-center">
        <div class="b-r col-md-6">
            <h2 class="mt-3 mt-md-3">Hi {{ user.getName() }}!</h2>
            <p class="text-justify">naisdevice removes the need for full blown management of your device. This means that there are some do's and don'ts. You <strong>have to</strong> agree to the following set of guidelines to be admitted to the "program":</p>

            <h3>Do</h3>
            <ul>
                <li>your best to secure your device</li>
                <li>what you can to report any security shortcomings</li>
            </ul>

            <h3>Don't</h3>
            <ul>
                <li>set up your device as a proxy. For anything!</li>
                <li>move credentials off your device and transport them elsewhere</li>
            </ul>

            <p>And otherwise: Just be nais.</p>

            <p>Once you have accepted the guidelines you should take a look at the <a href="https://doc.nais.io/device">documentation for naisdevice</a>.</p>

            <button id="toggle" type="button"
                class="btn {% if hasAccepted %}btn-danger{% else %}btn-success{% endif %}">
                {% if hasAccepted %}Reject{% else %}Accept{% endif %}
            </button>
            <img id="spinner" class="ml-2 d-none" src="/images/spinner.svg">
        </div>
        <div class="b-r col-md-6 mt-3 mt-md-5">
            <img class="img-fluid d-none d-md-block" src="/images/nais-icon.svg">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.querySelector("#toggle").addEventListener("click", function (e) {
        e.target.disabled = true;

        var request = new XMLHttpRequest();
        var spinner = document.querySelector("#spinner");
        spinner.classList.toggle("d-none");

        request.onreadystatechange = function () {
            if (XMLHttpRequest.DONE === request.readyState) {
                spinner.classList.toggle("d-none");

                if (request.status === 200) {
                    var hasAgreed = !e.target.classList.contains("btn-success");
                    e.target.classList.toggle("btn-success");
                    e.target.classList.toggle("btn-danger");
                    e.target.textContent = hasAgreed ? "Accept" : "Reject";
                } else {
                    alert("An error occurred, please try again later");
                }

                e.target.disabled = false;
            }
        };

        request.open("POST", "/toggleMembership");
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send("token={{ token }}");
    });
</script>
{% endblock %}