# vi:syntax=systemd
[Unit]
Description=bootstrap-api

[Service]
Restart=always
StandardOutput=append:/var/log/naisdevice/bootstrap-api.json
StandardError=append:/var/log/naisdevice/bootstrap-api.json
ExecStart=/bin/bash -c '/usr/bin/bootstrap-api \
        --azure-auth-enabled="true" \
        --credential-entries="apiserver:$(gcloud secrets versions access latest --project nais-device --secret nais-device_api-server_bootstrap-api-password)"'

[Install]
WantedBy=multi-user.target
