[Unit]
Description=Naisdevice agent helper
Documentation=https://doc.nais.io/device

[Service]
ExecStart=/usr/sbin/device-agent-helper --config-dir @@CONFIG_DIR@@
Restart=always

[Install]
WantedBy=multi-user.target
