[Unit]
Description=Naisdevice helper
Documentation=https://doc.nais.io/operate/naisdevice

[Service]
ExecStart=/usr/sbin/naisdevice-helper
Restart=always

[Install]
WantedBy=multi-user.target
