[Unit]
Description=Naisdevice helper
Documentation=https://doc.nais.io/device

[Service]
ExecStart=/usr/sbin/naisdevice-helper --config-dir @@CONFIG_DIR@@
Restart=always

[Install]
WantedBy=multi-user.target
