{{ define "title" }}Jita{{ end }} {{ define "content" }} {{ if .ErrorMessage }}
<p class="error">{{ .ErrorMessage }}</p>
{{ else if .StatusMessage }}
<p class="status">{{ .StatusMessage }}</p>
{{ end }} {{ if .HasActiveAccessRequest }}
<p>
  You are currently granted access to the
  <strong>{{ .Gateway }}</strong> gateway. You can revoke the grant below if you
  wish to create a grant with a longer duration.
</p>
{{ else }}
<p>
  You have requested elevated access to the
  <strong>{{ .Gateway }}</strong> gateway. Please state your business, and set
  the needed duration. Keep in mind that you can revoke the access if you finish
  your task ahead of time.
</p>

<form method="post" action="{{ .GrantGatewayAccessRequestFormAction }}">
  <input type="hidden" name="gateway" value="{{ .Gateway }}" />

  <div class="group">
    <label for="reason">Reason</label>
    <textarea
      autofocus
      required
      name="reason"
      id="reason"
      placeholder="Reason for access"
    ></textarea>
  </div>

  <div class="group">
    <div class="js-only">
      <label for="duration">Duration</label>
      <input
        type="range"
        id="duration"
        name="duration"
        value="1"
        min="1"
        max="8"
      />
      <span id="duration-display">1 hour</span>
    </div>
    <noscript>
      <label for="duration_nojs">Duration</label>
      <select name="duration" id="duration_nojs">
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
        <option value="4">4 hours</option>
        <option value="5">5 hours</option>
        <option value="6">6 hours</option>
        <option value="7">7 hours</option>
        <option value="8">8 hours</option>
      </select>
    </noscript>
  </div>

  <button type="submit">Grant access</button>
</form>
{{ end }} {{ if .Grants }}
<h2>Audit log</h2>
<p>In the table below you will find your previous 10 grants.</p>
<table>
  <thead>
    <tr>
      <th scope="col">Gateway</th>
      <th scope="col">Created</th>
      <th scope="col">Reason</th>
      <th scope="col">Expires</th>
    </tr>
  </thead>
  <tbody>
    {{ range $grant := .Grants }}
    <tr>
      <th scope="row">{{ $grant.Gateway }}</th>
      <td>
        <span title="{{ $grant.Created }}"
          >{{ $grant.Created | formatTime }}</span
        >
      </td>
      <td>{{ $grant.Reason | nl2br }}</td>
      <td>
        {{ if $grant.IsRevoked }}
        <em title="Revoked on: {{ $grant.Revoked | formatTime }}">Revoked</em>
        {{ else if $grant.HasExpired }}
        <em title="Expired on {{ $grant.Expires | formatTime }}">Expired</em>
        {{ else }}
        <span title="{{ $grant.Expires }}"
          >{{ $grant.Expires | formatTime }}</span
        >
        <form method="post" action="{{ $.RevokeGatewayAccessFormAction }}">
          <input type="hidden" name="gateway" value="{{ $.Gateway }}" />
          <input
            type="hidden"
            name="gatewayToRevoke"
            value="{{ $grant.Gateway }}"
          />
          <button type="submit">Revoke</button>
        </form>
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
<script>
  document.documentElement.classList.remove("no-js");
  document.getElementById("duration").addEventListener("input", (event) => {
    const dur = event.target.value;
    document.getElementById("duration-display").innerHTML =
      `${dur} hour${dur === "1" ? "" : "s"}`;
  });
</script>
{{ end }} {{ end }}
