# vi:syntax=systemd

[Unit]
Description=fluentd stackdriver container
Requires=docker.service

[Service]
Restart=always
# The failure of either of these commands will be logged, but
# the service will still attempt to launch, which might well
# succeed.
ExecStartPre=bash -c 'docker pull navikt/fluentd-stackdriver:latest || echo "alt blir braaa"'
ExecStartPre=bash -c 'docker rm -f fluentd-stackdriver || echo "alt blir braa"'
ExecStart=docker run --name fluentd-stackdriver -e GOOGLE_APPLICATION_CREDENTIALS=/sa.json -v /root/sa.json:/sa.json -v /var/log/naisdevice:/logs navikt/fluentd-stackdriver:latest

[Install]
WantedBy=multi-user.target
