name: Controlplane
on:
  push:
    paths:
      - 'Makefile'
      - 'go.mod'
      - '**.go'
      - '.github/workflows/controlplane.yml'
      - 'packaging/controlplane/**'
env:
  go_version: '1.17'
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11.7
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5433:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ env.go_version }}
    - name: run tests
      run: |
        make run-integration-test

  build:
    needs:
    - test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nais/naisdevice-ci:v3
    steps:
      - uses: actions/checkout@v2

      - name: 'Build controlplane'
        run: make controlplane-debs

      - name: 'Auth with Google'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GOOGLE_DEB_UPLOAD_SA_JSON }}'

      - name: 'Upload controlplane deb files to repository'
        run: |
          for component in \
            "bootstrap-api" \
            "apiserver" \
            "gateway-agent" \
            "prometheus-agent"; do
            gcloud beta artifacts apt upload controlplane --quiet --source "$component"*.deb --location europe-north1
          done
