name: Close stale issues
on:
  schedule:
  - cron: "0 12 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v6
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Nothing has happened here for a while (60 days), marking as stale. Add preserve label to avoid deletion'
        stale-pr-message: 'Nothing has happened here in a while (60 days), marking as stale. Add preserve label to avoid deletion'
        days-before-stale: 60
        days-before-close: 7
        exempt-issue-labels: 'preserve'
        exempt-pr-labels: 'preserve'
